<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="https://abeigi.github.io/qoherent/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/company">Company</a></li>
	      <!--   		<li><a href="/Static">Static page</a></li> -->
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:info@qoherent.io">Email</a></li>
	        		<li><a href="https://github.com/qoherent">Public Git</a></li>
				<li>© 2019 Qoherent</li>
				</ul>
			</footer>
		</body>
	</html>
