<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="https://abeigi.github.io/ab/css/main.css">
			{% include analytics.html %}
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/qoherent">Qoherent</a></li>
	      <!--   		<li><a href="/bsc">Beigi Sales Consulting</a></li> -->
	        		<li><a href="/bookshelf">Bookshelf</a></li>
				<li><a href="/resources">Resources</a></li>
				<li><a href="/resources">Resources</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:info@beigi.ca">Email</a></li>
	        	<!--	<li><a href="https://github.com/qoherent">Public Git</a></li> -->
				<li><a href="https://twitter.com/ash_beigi">Twitter</a></li>
				<li><a href="https://www.linkedin.com/in/ashkanbeigi/">LinkedIn</a></li>
				<li>© 2019 Ashkan Beigi</li>
				</ul>
			</footer>
		</body>
	</html>
